# Ignorer node_modules dans dashboard
dashboard/node_modules/
dashboard/.nuxt/

# Ignorer les données de PostgreSQL
database-postgre/postgresql_data/*

# Ignorer les fichiers Docker
*.log
docker-compose.override.yml
